.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 70px;
    width: 40px;
    height: 30px;
    gap: 5px;
   
}

.menu-icon{
    
    background-color: black;
    width: 45px;
    height: 5px;
}



.menu:hover .menu-icon{
    background-color: #fff;
}